*{
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto Condensed", sans-serif;
}
.miandiv{
   width: 100%;
   height: 15000px;
    /* border: 2px solid black; */

}
.extra{
    /* border: 2px solid red; */
    text-align: center;
    height: 40px;
    background-color: #8a7350;
    color: white;
    font-family: "Bebas Neue", sans-serif;
font-weight: 600;
font-style: normal;
font-size: 12px;

display: flex;
align-items: center;
font-family: "Roboto Condensed", sans-serif;
}

.nav{
width: 100%;
height: 60px;
/* border: 2px solid red; */
display: flex;
background-color: black;
color: white;
font-family: "Roboto Condensed", sans-serif;
}

.nav1{
width: 11%;
  /* border: 2px solid rgb(19, 2, 2); */
display: flex;
font-family: "Roboto Condensed", sans-serif;
}
.nav1 >img{
    width: 100px;
  height:50px;
}


.nav2{
    width: 60%;
    border: 2px solid rgb(14, 13, 13);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    margin-right: 50px;
    font-family: "Roboto Condensed", sans-serif;
    
    }
.nav2 > a:nth-child(1){
  width: 5%;
  /* border: 2px solid white; */
  margin-right: 25px;
}
.nav2 > a:nth-child(2){
  width: 9%;
  /* border: 2px solid white; */
  margin-right: 25px;
}
.nav2 > a:nth-child(3){
  width: 15%;
  /* border: 2px solid white; */
  margin-right: 30px;
}
.nav2 > a:nth-child(4){
  width: 15%;
  /* border: 2px solid white; */
  margin-right: 20px;
}
.nav2 > a:nth-child(8){
  width: 15%;
  /* border: 2px solid white; */
  margin-right: 30px;
}
.nav2 > a:nth-child(9){
  width: 15%;
  /* border: 2px solid white; */
  margin-right: 30px;
}


.nav3{
width: 12%;
height: 40px;
background-color: black;
  border: 2px solid rgb(82, 81, 81);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 30px;
  margin-top: 10px;

  
  

}

.nav4{
width: 12%;
  border: 2px solid rgb(20, 19, 19);
  display: flex ;
  align-items: center;
  justify-content:space-between;
  padding-left: 20px;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
}

.input{
border: none;
outline: none;
color: white;
width: 100px; 
background-color: black;
font-size: 18px;


}
.lastbody{
width: 100%;
height: 80px;
color: white;
/* border: 2px solid black; */
background-color:#a42d29;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
padding-top: 10px;

}

.lastbody >h1{
    font-size: 15px;
    padding-top: 8px;
    /* border: 2px solid black; */
}
.lastbody >P:nth-child(2){
    font-size: 12px;
    padding-top: 5px;
    width: 5%;
    height: 12px;
    /* border: 2px solid black; */
    border-bottom: 1px solid white;
}

.redirecthome{
width: 100%;
height: 50px;
/* border: 2px solid black; */
}


.redirecthome1{
    width: 8%;
height: 20px;
/* border: 2px solid black; */
margin-top: 25px;
display:  flex;
margin-left: 80px;
margin-top: 40px;

}



.redirecthome1 p:nth-child(1){
   
    font-size: 10px;
    font-weight: 800;
}


.redirecthome1 p:nth-child(2){
   
    font-size: 13px;
}

.hedingMen{
    width: 100%;
    height: 50px;
    /* border: 2px solid black;   */
    border-bottom: 1px solid rgb(199, 194, 194);
    
}
.hedingMen >p {
    width: 20%;
    height: 40px;
    /* border: 2px solid black; */
    font-size: 27px;   
    font-weight: 600;
    /* padding-bottom: 20px; */
    
}
.category100div{
    width: 100%;
    height: 80px;
    /* border: 2px solid rgb(219, 34, 34); */
    border-bottom: 1px solid rgb(201, 201, 201);
}
.category{
  width: 90%;
  height: 50px;
  /* border: 2px solid black; */
  display: flex;
    margin: auto;
    /* text-align: center; */
    padding-top: 30px;
    justify-content: space-between;
}

.categorymaindiv{
    width: 85%;
    height: 60px;
    /* border: 2px solid black; */
    display: flex;  
    justify-content: space-between;
}

.category1{
    width: 3%;
    height: 25px;
    padding-left: 10px;
    /* border: 1px solid rgb(168, 168, 168  ); */
    margin-left: 10px;
    padding-top: 8px;
  
  }

  .category2{
    width: 8%;
    height: 25px;
    margin-right: 10px;
    padding-left: 5px;
    font-weight: 600;
    border: 1px solid rgb(168, 168, 168);
    /* margin-left: 5px; */
    font-size: 12px;
    display: flex;
    padding-top: 6px;
  
  }

  
  .category3{
    width: 10%;
    height: 25px;
    /* padding-left: 5px; */
    font-weight: 600;
    border: 1px solid rgb(168, 168, 168);
    /* margin-left: 5px; */
    font-size: 12px;
    display: flex;
    padding-top: 6px;
  
  
  }
  
  .category3 > i{
    width: 10%;
    height: 25px;
    margin-right: 10px;
    /* border: 2px solid black; */
   
  

  }
  .category4{
    width: 7%;
    height: 25px;
    padding-left: 5px;
    font-weight: 600;
    border: 1px solid rgb(168, 168, 168);
    /* margin-left: 5px; */
    font-size: 12px;
    display: flex;
    padding-top: 6px;
  
  
  }
  
  .category5{
    width: 7%;
    height: 25px;
    padding-left: 5px;
    font-weight: 600;
    border: 1px solid rgb(168, 168, 168);
    /* margin-left: 5px; */
    font-size: 12px;
    display: flex;
    padding-top: 6px;
  
  
  }
  
  .category6{
    width: 5%;
    height: 25px;
    padding-left: 5px;
    font-weight: 600;
    border: 1px solid rgb(168, 168, 168);
    /* margin-left: 5px; */
    font-size: 12px;
    display: flex;
    padding-top: 6px;
  
  
  }
  
  .category7{
    width: 7%;
    height: 25px;
    padding-left: 5px;
    font-weight: 600;
    border: 1px solid rgb(168, 168, 168);
    /* margin-left: 5px; */
    font-size: 12px;
    display: flex;
    padding-top: 6px;
  
  
  }
  

  .category9{
    width: 8%;
    height: 25px;
    font-weight: 600;
    padding-left: 5px;
    border: 1px solid rgb(168, 168, 168);
    /* margin-left: 5px; */
    font-size: 12px;
    display: flex;
    padding-top: 6px;
    
  
  }
  
  .category10{
    width: 8%;
    height: 25px;
    padding-left: 5px;
    font-weight: 600;
    border: 1px solid rgb(168, 168, 168);
    /* margin-left: 5px; */
    font-size: 12px;
    display: flex;
    padding-top: 6px;
   
  
  }

  
  .category11{
    width: 20%;
    height: 25px;
    padding-left: 5px;
    font-weight: 600;
    border: 1px solid rgb(168, 168, 168);
    /* margin-left: 5px/; */
    font-size: 12px;
    display: flex;
    padding-top: 6px;
    
  
  
  }
  .category11 >i{
    width: 10%;
    height: 25px;
    /* border: 2px solid black; */
   

  }
  
  .category12{
    width: 10%;
    height: 25px;
    font-weight: 600;
    border: 1px solid rgb(168, 168, 168);
    /* margin-left: 5px; */
    font-size: 12px;
    display: flex;
    padding-top: 6px;
    padding-left: 5px;
  
  
  }
  

  .productCount{
    width: 90%;
    height: 60px;
    /* border: 2px solid rgb(219, 34, 34); */
    margin: auto;
    display: flex;
  }

  .productCount  >p{
        width: 15%;
        height: 20px;
        /* border: 2px solid rgb(219, 34, 34); */
        font-weight: 700;
        font-size: 14px;
        padding-top: 30px;
  }

  /* .productCountlast{
    width: 8%;
    height: 20px;
    border: 2px solid rgb(219, 34, 34);
    margin-left: 900px;
  } */

.productfulldiv{
    width: 90%;
    /* height: 1500px; */
    /* border: 2px solid rgb(20, 20, 20); */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}


.tshartproductimg{
 width:24%;
  height:400px;
 /* border: 2px solid black; */
  margin-bottom: 20px;


}

.tshartproductimgimus{
    width:100%;
    height:400px;
   /* border: 2px solid black;*/
    margin-bottom: 20px;
  
}
.tshartproductimg > img {
    width:100%;
    height:280px;
    /* border: 2px solid rgb(190, 59, 59); */
}

.tshartdetails{
    width:100%;
    height:50px;
    /* border: 2px solid rgb(190, 59, 59); */
    margin-top: 10px;
    display: flex;
}


.tshartitle{
width: 74%;
height: 50px;
/* border: 2px solid black; */
font-size: 12px;
font-weight: 600;
}

.tsharprice{
    width: 15%;
    height: 20px;
    /* border: 2px solid red; */
    margin-left: 20px;
    font-size: 12px;
    color: #a42d29;

}

.tshirtcolor{
    width: 100%;
    height: 30px;
    /* border: 2px solid red; */
    font-size: 12px;
    font-weight: 500;
    color: gray;
}

.pumatshirtonline{
  width: 100%;
  height: 50px;
  font-size: 20px;
  border: 2px solid red;
  text-align: start;
  padding-top: 20px;
}

.pumatshirtonline1{
  width: 100%;
  height: 120px;
  font-size: 13px;
  text-align: start;
  line-height: 19px;
  border: 2px solid red;
}

.pumatshirtonline2{
  width: 100%;
  height: 40px;
  font-size: 20px;
  border: 2px solid red;
  text-align: start;
  padding-top: 20px;
}