*{
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto Condensed", sans-serif;
}
.miandiv{
   width: 100%;
   height: 15000px;
    /* border: 2px solid black; */

}
.extra{
    /* border: 2px solid red; */
    text-align: center;
    height: 50px;
    background-color: #8a7350;
    color: white;
    font-family: "Bebas Neue", sans-serif;
font-weight: 600;
font-style: normal;
font-size: 12px;

display: flex;
align-items: center;
font-family: "Roboto Condensed", sans-serif;
}

.nav{
width: 100%;
height: 60px;
/* border: 2px solid red; */
display: flex;
background-color: black;
color: white;
font-family: "Roboto Condensed", sans-serif;
}

.nav1{
width: 10%;
  /* border: 2px solid rgb(19, 2, 2); */
display: flex;
font-family: "Roboto Condensed", sans-serif;
}
.nav1 >img{
  height:60px;
}


.nav2{
width: 60%;
border: 2px solid rgb(8, 8, 8);
display: flex;
justify-content: space-evenly;
align-items: center;
font-family: "Bebas Neue", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 15px;
margin-right: 50px;
font-family: "Roboto Condensed", sans-serif;

}
.nav2 > a:nth-child(1){
  width: 5%;
  /* border: 2px solid white; */
  margin-right: 25px;
}
.nav2 > a:nth-child(2){
  width: 9%;
  /* border: 2px solid white; */
  margin-right: 25px;
}
.nav2 > a:nth-child(3){
  width: 15%;
  /* border: 2px solid white; */
  margin-right: 30px;
}
.nav2 > a:nth-child(4){
  width: 15%;
  /* border: 2px solid white; */
  margin-right: 20px;
}
.nav2 > a:nth-child(8){
  width: 15%;
  /* border: 2px solid white; */
  margin-right: 30px;
}
.nav2 > a:nth-child(9){
  width: 15%;
  /* border: 2px solid white; */
  margin-right: 30px;
}


.nav3{
width: 10%;
height: 40px;
background-color: black;
  border: 2px solid rgb(82, 81, 81);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 30px;
  margin-top: 10px;

  
  

}

.nav4{
width: 15%;
  /* border: 2px solid rgb(19, 2, 2); */
  display: flex ;
  align-items: center;
  justify-content:space-between;
  padding-left: 20px;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
}

.input{
border: none;
outline: none;
color: white;
width: 100px; 
background-color: black;
font-size: 18px;


}
.lastbody{
width: 100%;
height: 70px;
color: white;
/* border: 2px solid black; */
background-color:#a42d29;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
padding-top: 10px;

}

.lastbody >h1{
    font-size: 15px;
    padding-top: 8px;
    /* border: 2px solid black; */
}
.lastbody >P:nth-child(2){
    font-size: 12px;
    padding-top: 5px;
    width: 5%;
    height: 12px;
    /* border: 2px solid black; */
    border-bottom: 1px solid white;
}

.lastbody >P:nth-child(3){
    font-size: 9px;
    padding-top: 7px;

    /* border: 2px solid black; */
   
}

.account{
    width: 100%;
    height: 80px;
    /* border: 2px solid black;  */
   
}
.account > h1{
    width: 20%;
    height: 30px;
    font-size: 35px;
    /* border: 2px solid black; */
    margin-top: 20px;
    margin-left: 150px; 
}


.signup{
    width: 32%;
    height: 600px;
    /* border: 2px solid black; */
    /* border-radius: 12px; */
    margin-left: 450px;
}

.registration{
    width: 100%;
    height: 700px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration1{
    width: 90%;
    height: 8%;
    border-bottom: 1px solid rgb(12, 12, 12);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 10px; */
    padding-bottom: 10px;
}

.registration1 p:nth-child(1){
    padding-top: 10px;
    font-size: 15px;
    font-weight: 550;  
}
#registration > p:nth-child(2){
    font-size: 29px;
    font-weight: 550;
}

.inputfirst> h6{
    font-size: 10px;
    font-weight: 550;  
    padding-right: 290px;
    padding-top: 10px;
    /* border: 2px solid red; */
}

.inputfirst{
    width: 95%;
    /* border: 2px solid rgb(228, 34, 34); */
    /* border-radius: 12px; */
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    /* border: 2px solid red; */
}





#typeemail{
    width: 95%;
    height: 40px;
    /* border: 2px solid red; */
    font-size: 10px;
}

.submitbutton{
    width: 92%;
    height: 35px;
    background-color:#bdc1c5;
    text-align: center;
    color: rgb(12, 12, 12);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-top: 20px;
    font-weight: 600
  
}

.submitbutton >h6{
    font-size: 12px;
    font-weight: 100;
    font-weight: bold;
}



.endtext3{
    font-size: 10px;
    width: 100%;
    height: 25px;
    /* padding-top: 20px; */
    /* border: 2px solid black; */
  
    
}

.endtext4{
    width: 90%;
    height: 100px;
    /* border: 2px solid black; */
    margin-top: 20px;

}
.endtext15{
    width: 20%;
    height: 20px;
    /* margin-right: 100px; */
    margin-left: 5px;
    /* border: 2px solid rgb(12, 12, 12); */
}
.endtext6{
    width: 60%;
font-size: 13px;
padding-right: 100px;
padding-top: 8px;
font-weight: bold;
/* border: 2px solid red; */
}


.endtext7{
    font-size: 10px;
    width: 100%;
    height: 30px;
    /* margin-top: 10px; */
    /* border: 2px solid black; */
  
}

.endtext8{
    width: 10%;
    height: 20px;
    /* margin-right: 100px; */
    margin-top: 10px;
    /* border: 2px solid rgb(12, 12, 12); */
}
.endtext9{
    width: 60%;
    height: 30px;
    font-size: 11px;
    padding-right: 100px;
    /* padding-bottom: 10px; */
    /* border: 2px solid red    ; */
}

.lastdiv2{
   width: 100%;
   height: 450px;
   border: 2px solid black;
   margin-top: 100px;
   background-image: url("../images/last.jpeg");
   background-size: cover;
  }