*{
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto Condensed", sans-serif;
}
.miandiv{
 width: 100%;
 height: 15000px;
  /* border: 2px solid black; */

}
.extra{
  /* border: 2px solid red; */
  text-align: center;
  height: 50px;
  background-color: #8a7350;
  color: white;
  font-family: "Bebas Neue", sans-serif;
font-weight: 600;
font-style: normal;
font-size: 12px;

display: flex;
align-items: center;
font-family: "Roboto Condensed", sans-serif;
}

.nav{
width: 100%;
height: 70px;
/* border: 2px solid red; */
display: flex;
background-color: black;
color: white;
font-family: "Roboto Condensed", sans-serif;
}

.nav1{
width: 12%;
/* border: 2px solid rgb(19, 2, 2); */
display: flex;
font-family: "Roboto Condensed", sans-serif;
}
.nav1 >img{
height:60px;
}


.nav2{
  width: 60%;
  border: 2px solid rgb(14, 13, 13);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  margin-right: 50px;
  font-family: "Roboto Condensed", sans-serif;
  
  }
.nav2 > a:nth-child(1){
width: 5%;
/* border: 2px solid white; */
margin-right: 25px;
}
.nav2 > a:nth-child(2){
width: 9%;
/* border: 2px solid white; */
margin-right: 25px;
}
.nav2 > a:nth-child(3){
width: 15%;
/* border: 2px solid white; */
margin-right: 30px;
}
.nav2 > a:nth-child(4){
width: 15%;
/* border: 2px solid white; */
margin-right: 20px;
}
.nav2 > a:nth-child(8){
width: 15%;
/* border: 2px solid white; */
margin-right: 30px;
}
.nav2 > a:nth-child(9){
width: 15%;
/* border: 2px solid white; */
margin-right: 30px;
}


.nav3{
width: 12%;
height: 45px;
background-color: black;
border: 2px solid rgb(82, 81, 81);
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 5px;
margin-bottom: 5px;
padding-left: 30px;
margin-top: 10px;




}

.nav4{
width: 12%;
border: 2px solid rgb(20, 19, 19);
display: flex ;
align-items: center;
justify-content:space-between;
padding-left: 20px;
margin-left: 10px;
font-size: 20px;
margin-top: 10px;
}


/* 
.content >a{
  display: block;
  padding: 10px 15px;

}

.content{
  background-color: #bdbcbc;
  position: absolute;
  min-width: 100px;
  box-shadow: 2px 2px 5px rgb(49, 49, 49)0, 63, 63;
  display: none;
} */
.input{
border: none;
outline: none;
color: white;
width: 100px; 
background-color: black;
font-size: 18px;


}
/* .lastbody{
width: 100%;
height: 90px;
color: white;
background-color:#a42d29;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;


} */

.divflat{
  width:100%;
  height: 450px;
  border: 2px solid rgb(236, 125, 125);
  background-image:url("https://cdn.sanity.io/images/qa41whrn/prod/09646d25a041fa5bb063844eaad9fdae3af30fde-2880x1040.jpg?w=1440&q=80&auto=format");
  background-size: cover;
  
}
.seasonsale{
  width:32%;
  height: 230px;
  /* border: 2px solid white;  */
  margin-left: 850px;
  margin-top: 150px;
  color: white;
}
.seasonsale1{
  width:100%;
  height: 40px;
  /* border: 2px solid white; */
  color: white;
}
.seasonsale2{
  width:100%;
  height: 30px;
  /* border: 2px solid white; */
  font-size: 23px;
  margin-top: 8px;
 
}
.seasonsale3{
  width:100%;
  height: 30px;
  /* border: 2px solid white; */
  font-size: 14px;
  margin-top: 8px;

}
.seasonsale4{
  width:100%;
  height: 50px;
  /* border: 2px solid white; */
  font-size: 14px;
  margin-top: 8px;
  display: flex;
  color: black;
  justify-content: space-between;
 
  

}

.seasonsale4 p:nth-child(1){ 
  width:30%;
  height: 30px;
  /* border: 2px solid rgb(17, 16, 16); */
  background-color: white;
  padding-top: 18px;
  font-weight: bolder
}

.seasonsale4 p:nth-child(2){ 
  width:30%;
  height: 30px;
  /* border: 2px solid rgb(17, 16, 16); */
  background-color: white;
  padding-top: 18px;
  font-weight: bolder
}


.seasonsale4 p:nth-child(3){ 
  width:30%;
  height: 30px;
  /* border: 2px solid rgb(17, 16, 16); */
  background-color: white;
  padding-top: 18px;
  font-weight: bolder
}
.coolstyles{
  width:100%;
  height: 380px;
  border: 2px solid rgb(236, 230, 230);
}

.coolstyles1{
  width:90%;
  height: 60px;
  /* border: 2px solid rgb(236, 90, 90); */
  margin: auto;
  margin-top: 80px;
 

}
.coolstyles2{
  width:90%;
  height: 40px;
  /* border: 2px solid rgb(236, 90, 90); */
  margin: auto;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  
}
.coolstyles3{
  width:70%;
  height: 180px;
  /* border: 2px solid rgb(236, 90, 90); */
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.coolstyles3 p:nth-child(1){
  width: 13%;
  height: 123px;
  border: 2px solid rgb(236, 90, 90);
  border-radius: 65px;
  background-image: url(./images/sneakers-10\ 1\ 1\ 2-1720441879\ \(2\).jpeg);
  background-size: cover;
}
.coolstyles3 p:nth-child(2){
  width: 13%;
  height: 123px;
  border: 2px solid rgb(236, 90, 90);
  border-radius: 65px;
  background-image: url(./images/sneakers-10\ 1\ 1\ 2-1720441879\ \(2\).jpeg);
  background-size: cover;
}
.coolstyles3 p:nth-child(3){
  width: 13%;
  height: 123px;
  border: 2px solid rgb(236, 90, 90);
  border-radius: 65px;
  background-image: url(./images/sneakers-10\ 1\ 1\ 2-1720441879\ \(2\).jpeg);
  background-size: cover;
}
.coolstyles3 p:nth-child(4){
  width: 13%;
  height: 123px;
  border: 2px solid rgb(236, 90, 90);
  border-radius: 65px;
  background-image: url(./images/sneakers-10\ 1\ 1\ 2-1720441879\ \(2\).jpeg);
  background-size: cover;
}
.coolstyles3 p:nth-child(5){
  width: 13%;
  height: 123px;
  border: 2px solid rgb(236, 90, 90);
  border-radius: 65px;
  background-image: url(./images/sneakers-10\ 1\ 1\ 2-1720441879\ \(2\).jpeg);
  background-size: cover;
}
.coolstyles3 p:nth-child(6){
  width: 13%;
  height: 123px;
  border: 2px solid rgb(236, 90, 90);
  border-radius: 65px;
  background-image: url(./images/sneakers-10\ 1\ 1\ 2-1720441879\ \(2\).jpeg);
  background-size: cover;
}
.coolstyles3 p:nth-child(6){
  width: 13%;
  height: 123px;
  /* border: 2px solid rgb(236, 90, 90); */
  border-radius: 65px;
  background-image: url(./images/sneakers-10\ 1\ 1\ 2-1720441879\ \(2\).jpeg);
  background-size: cover;
}

.divindian{
  width:100%;
  height: 450px;
  border: 2px solid rgb(243, 237, 237);
  color: white;
  background-image:url("https://cdn.sanity.io/images/qa41whrn/prod/35b6f7f51046e4e860050711a6cc7c6ddfb10322-6000x2167.jpg?w=2160&q=80&auto=format");
  background-size: cover;
  
}

.seasonindian{
  width:50%;
  height: 230px;
  /* border: 2px solid white;  */
  margin-top: 150px;
  color: white;
}
.seasonindian1{
  width:100%;
  height: 40px;
  /* border: 2px solid white; */
  color: white;
  font-size: 18px;
}
.seasonindian2{
  width:100%;
  height: 30px;
  /* border: 2px solid white; */
  font-size: 22px;
  margin-top: 8px;
 
}
.seasonindian3{
  width:100%;
  height: 30px;
  /* border: 2px solid white; */
  font-size: 15px;
  margin-top: 8px;

}
.seasonindian4{
  width:100%;
  height: 50px;
  /* border: 2px solid white; */
  font-size: 15px;
  margin-top: 8px;
  display: flex;
  color: black;
  justify-content: space-between;
 
 
  

}

.seasonindian4 p:nth-child(1){ 
  width:21%;
  height: 27px;
  /* border: 2px solid rgb(17, 16, 16); */
  background-color: white;
  padding-top: 18px;
  margin: auto;
  font-weight: bolder
  
}


.playloud{
  width:100%;
  height: 450px;
  border: 0.1px solid rgb(243, 237, 237);
  border-top: 10px solid white;
  color: white;
  background-image:url("https://cdn.sanity.io/images/qa41whrn/prod/2fe347a0a97655fbcb8bb782f062e8522ecfebad-6000x2167.jpg?w=1440&q=80&auto=format");
  background-size: cover;
  
}

.seasonplay{
  width:30%;
  height: 230px;
  /* border: 2px solid white;  */
  margin-left: 950px;
  margin-top: 150px;
  color: white;
}
.seasonplay1{
  width:100%;
  height: 40px;
  /* border: 2px solid white; */
  color: white;
  font-size: 18px;
}
.seasonplay2{
  width:100%;
  height: 30px;
  /* border: 2px solid white; */
  font-size: 22px;
  margin-top: 8px;
 
}

.seasonplay4{
  width:100%;
  height: 50px;
  /* border: 2px solid white; */
  font-size: 15px;
  margin-top: 8px;
  display: flex;
  color: black;
  justify-content: space-between;
 
 
  

}

.seasonplay4 p:nth-child(1){ 
  width:26%;
  height: 27px;
  /* border: 2px solid rgb(17, 16, 16); */
  background-color:black;
  padding-top: 18px;
  color: white;
  margin: auto;
  font-weight: bolder
  
}


.azzura{
  width:100%;
  height: 450px;
  border: 0.1px solid rgb(243, 237, 237);
  border-top: 10px solid white;
  color: white;
  background-image:url("https://cdn.sanity.io/images/qa41whrn/prod/6c6c8eeb889e595ebe354186241b91049b87bb40-6000x2167.jpg?w=2160&q=80&auto=format");
  background-size: cover;
  
}

.seasonazzura{
  width:40%;
  height: 230px;
  /* border: 2px solid white;  */
  margin-left: 50px;
  margin-top: 150px;
  color: white;
 text-align: left;
}
.seasonazzura1{
  width:100%;
  height: 40px;
  /* border: 2px solid white; */
  color: white;
  font-size: 18px;
}
.seasonazzura2{
  width:100%;
  height: 30px;
  /* border: 2px solid white; */
  font-size: 22px;
  margin-top: 8px;
 
}

.seasonazzura4{
  width:100%;
  height: 50px;
  /* border: 2px solid white; */
  font-size: 15px;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
 
}

.seasonazzura4 p:nth-child(1){ 
  width:22%;
  height: 27px;
  /* border: 2px solid rgb(17, 16, 16); */
  background-color:white;
  padding-top: 18px;
  color:black;
  padding-left: 10px;
  font-weight: bolder
  
}

.divcarrot{
  width:100%;
  height: 450px;
  border: 0.1px solid rgb(243, 237, 237);
  border-top: 10px solid white;
  color: white;
  background-image:url("https://cdn.sanity.io/images/qa41whrn/prod/33e1754f474d9d2896f724b524a51f2a023278b2-6000x2167.jpg?w=2160&q=80&auto=format");
  background-size: cover;
  text-align: left;
 
}

.seasoncarrot{
  width:35%;
  height: 230px;
  /* border: 2px solid white;  */
  /* margin-left: 950px; */
  margin-top: 150px;
  color: white;
  margin-left: 50px;
  
}
.seasoncarrot1{
  width:100%;
  height: 40px;
  /* border: 2px solid white; */
  color: white;
  font-size: 18px;
}
.seasoncarrot2{
  width:100%;
  height: 30px;
  /* border: 2px solid white; */
  font-size: 22px;
  margin-top: 8px;
 
}

.seasoncarrot4{
  width:100%;
  height: 50px;
  /* border: 2px solid white; */
  font-size: 15px;
  margin-top: 8px;
  display: flex;
  color: white;
  justify-content: space-between;
 
 
  

}

.seasoncarrot4 p:nth-child(1){ 
  width:26%;
  height: 27px;
  /* border: 2px solid rgb(17, 16, 16); */
  background-color:white;
  padding-top: 18px;
  color: black;
  padding-left: 10px;
  font-weight: bolder

}

.divpalm{
  width:100%;
  height: 450px;
  border: 0.1px solid rgb(243, 237, 237);
  border-top: 10px solid white;
  color: white;
  background-image:url("https://cdn.sanity.io/images/qa41whrn/prod/52e4dd38bfc2f86dd4b8728b4d1fd39f8b30fe6a-6000x2167.jpg?w=2160&q=80&auto=format");
  background-size: cover;
  text-align: left;
 
}

.seasonpalm{
  width:35%;
  height: 230px;
  /* border: 2px solid white;  */
  margin-top: 150px;
  color: white;
  margin-left: 50px;
  margin-left: 450px;
  text-align: center;
  
}
.seasonpalm1{
  width:100%;
  height: 40px;
  /* border: 2px solid white; */
  color: white;
  font-size: 18px;
}
.seasonpalm2{
  width:100%;
  height: 30px;
  /* border: 2px solid white; */
  /* font-size: 15px; */
  
 
}
.seasonpalm3{
  width:100%;
  height: 30px;
  /* border: 2px solid white; */
  font-size: 15px;
  margin-top: 8px;

}
.seasonpalm4{
  width:100%;
  height: 50px;
  /* border: 2px solid white; */
  font-size: 15px;
  margin-top: 8px;
  display: flex;
  color: white;
  justify-content: space-between;
  margin-top: 12px;

}

.seasonpalm4 p:nth-child(1){ 
  width:26%;
  height: 27px;
  /* border: 2px solid rgb(17, 16, 16); */
  background-color:white;
  padding-top: 18px;
  color: black;
  margin-left: 160px;
  
  font-weight: bolder


}



.divvideo{
  width:100%;
  height: 450px;
  border: 0.1px solid rgb(24, 20, 20);
  border-top: 10px solid white;
  color: white;
  text-align: left;

 
}

/* .seasonvideo{
  width:35%;
  height: 230px; */
  /* border: 2px solid white;  */
  /* margin-top: 150px;
  color: white;
  margin-left: 50px;
  margin-left: 450px;
  text-align: center;
  
}
.seasonvideo1{
  width:100%;
  height: 40px; */
  /* border: 2px solid white; */
  /* color: white;
  font-size: 18px;
 
} */


.divfuture{
  width:100%;
  height: 450px;
  border: 0.1px solid rgb(243, 237, 237);
  border-top: 10px solid white;
  color: white;
  background-image:url("https://cdn.sanity.io/images/qa41whrn/prod/72fb3fa9e0c4d6e600bc1b79551ef4cbba205719-6000x2167.jpg?w=1440&amp;q=80&amp;auto=format");
  background-size: cover;
  text-align: left;
  margin-top: 10px;
 
}

.seasonfuture{
  width:35%;
  height: 230px;
  /* border: 2px solid white;  */
  margin-left: 850px;
  margin-top: 150px;
  color: white;
  text-align: center;
 
  
}
.seasonfuture1{
  width:100%;
  height: 40px;
  /* border: 2px solid white; */
  color: white;
  font-size: 18px;
  margin-top: 8px;
}
.seasonfuture2{
  width:100%;
  height: 30px;
  /* border: 2px solid white; */
  font-size: 22px;
  margin-top: 8px;
 
}

.seasonfuture4{
  width:100%;
  height: 50px;
  /* border: 2px solid white; */
  font-size: 15px;
  margin-top: 8px;
  display: flex;
  color: white;
  justify-content: space-between;
 margin-left:160px ;
 
  

}

.seasonfuture4 p:nth-child(1){ 
  width:26%;
  height: 27px;
  /* border: 2px solid rgb(17, 16, 16); */
  background-color:white;
  padding-top: 18px;
  color: black;
  /* padding-left: 10px; */
  font-weight: bolder
  
}

.kisdstyles{
  width:100%;
  height: 130px;
  /* border: 2px solid rgb(17, 16, 16); */
  text-align: center;

}
.kisdstyles >p {
padding-top: 60px;
font-weight: bolder;
font-size: 27px;
}

.kisdstyles1{
  width:95%;
  height: 330px;
  /* border: 2px solid rgb(17, 16, 16); */
  margin: auto;
  display: flex;
  justify-content: space-between;
  color: white;
  text-align: left;
  line-height: 29px;
}
.card1{
  width:24%;
  height: 330px;
  /* border: 2px solid rgb(17, 16, 16); */
  background-image: url("https://cdn.sanity.io/images/qa41whrn/prod/dfe752b0a313bc267f5aa23a412594d71f933c2b-1536x1536.jpg");
background-size: cover;
}

.card1 >h3{
  padding-top: 250px;
}
.card2{
  width:24%;
  height: 330px;
  /* border: 2px solid rgb(17, 16, 16); */
  background-image: url("https://cdn.sanity.io/images/qa41whrn/prod/604102f5cbf9b160b4b545ab56561d152d06ac96-1536x1536.jpg");
background-size: cover;
}
.card2 >h3{
  padding-top: 250px;
}
.card3{
  width:24%;
  height: 330px;
  /* border: 2px solid rgb(17, 16, 16); */
  background-image: url("https://cdn.sanity.io/images/qa41whrn/prod/5bc14638c184c4c775b2f90210427c3dd4aa33c1-1536x1536.jpg");
background-size: cover;
}
.card3 >h3{
  padding-top: 250px;
}
.card4{
  width:24%;
  height: 330px;
  /* border: 2px solid rgb(17, 16, 16); */
  background-image: url("https://cdn.sanity.io/images/qa41whrn/prod/ec1fd75b27717e7a78c3fcf71e855d7298329370-1536x1536.jpg");
background-size: cover;
}
.card4 >h3{
  padding-top: 250px;
 
}

/* .velocitynitro{
   width: 100%;
   height: 750px;
   position: relative;
}

.velocitynitrocolor{
  width: 100%;
  height: 550px;
  color: rgb(173,188,204);
  position: absolute;
  top: 40px;
}
.velocitynitrotext1{
font-size: 36px;
font-weight: 700;
position: absolute;
left: 24px;
top: 60px;


 }

 .velocitynitrotext2{
  font-size: 22px;
  font-weight: normal;
  position: absolute;
  left: 24px;
  top: 110px;
 }

 .velocitynitroshop{
  width: 50%;
 }

 .velocityshopnow{
width: 8%;
display: flex;
  } */


.divmanchester{
  width:100%;
  height: 450px;
  border: 0.1px solid rgb(243, 237, 237);
  border-top: 10px solid white;
  color: white;
  background-image:url("https://cdn.sanity.io/images/qa41whrn/prod/3fe7386927ec3ba13893df6dd4fe8dcafb576b25-6000x2167.jpg?w=2160&q=80&auto=format");
  background-size: cover;
  text-align: left;
 
}

.seasonmanchester{
  width:35%;
  height: 230px;
  /* border: 2px solid white;  */
  /* margin-left: 950px; */
  margin-top: 150px;
  color: white;
  margin-left: 50px;
  
}
.seasonmanchester1{
  width:100%;
  height: 40px;
  /* border: 2px solid white; */
  color: white;
  font-size: 18px;
}
.seasonmanchester2{
  width:100%;
  height: 30px;
  /* border: 2px solid white; */
  font-size: 22px;
  margin-top: 8px;
 
}

.seasonmanchester3{
    width:100%;
    height: 50px;
    /* border: 2px solid white; */
    font-size: 15px;
    margin-top: 8px;
    display: flex;
    color: white;
 

   
}

.seasonmanchester3 p:nth-child(1){ 
  width:26%;
  height: 25px;
  /* border: 2px solid rgb(17, 16, 16); */
  background-color:white;
  padding-top: 15px;
  color: black;
  padding-left:15px;
  font-weight: bolder

}

.seasonmanchester3 p:nth-child(2){ 
  width:35%;
  height: 25px;
  /* border: 2px solid rgb(17, 16, 16); */
  background-color:white;
  padding-top: 15px;
  color:rgb(17, 16, 16);
  margin-left: 30px;
  padding-left:15px;
  font-weight: bolder

}


.divsneakerhead{
  width:100%;
  height: 450px;
  border: 2px solid rgb(228, 227, 227);
  background-image:url("https://cdn.sanity.io/images/qa41whrn/prod/ac3fc79415884460f1a7b3459b333ff091dee5a5-6000x2167.jpg?w=2160&q=80&auto=format");
  background-size: cover;
  
}
.seasonsneakerhead{
  width:32%;
  height: 230px;
  /* border: 2px solid white;  */
  margin-left: 920px;
  margin-top: 150px;
  color: black;
}
.seasonsneakerhead1{
  width:100%;
  height: 40px;
  /* border: 2px solid white; */
  color: black;
  font-size: 20px;
}
.seasonsneakerhead2{
  width:100%;
  height: 30px;
  /* border: 2px solid white; */
  font-size: 20px;
  margin-top: 2px;
 
}
.seasonsneakerhead3{
  width:100%;
  height: 30px;
  /* border: 2px solid white; */
  font-size: 17px;
  margin-top: 8px;

}
.seasonsneakerhead4{
  width:100%;
  height: 50px;
  /* border: 2px solid white; */
  font-size: 12px;
  margin-top: 8px;
  display: flex;
  color: black;
  
}

.seasonsneakerhead4 p:nth-child(1){ 
  width:20%;
  height: 22px;
  /* border: 2px solid rgb(17, 16, 16); */
  background-color: black;
  padding-top: 12px;
  color: white;
  margin-left: 110px;
  font-weight: bolder
}

.seasonsneakerhead4 p:nth-child(2){ 
  width:30%;
  height: 22px;
  /* border: 2px solid rgb(17, 16, 16); */
  background-color: black;
  padding-top: 12px;
  color: white;
  margin-left: 30px;
  font-weight: bolder
}

.divspotlight{
  width:100%;
  height: 450px;
  /* border: 2px solid rgb(17, 16, 16);  */
  margin-top: 20px;
  
}
.divspotlight1{
  width: 85%;
  height: 30px;
  /* border: 2px solid rgb(17, 16, 16);  */
  font-size: 12px;
  margin-left: 100px;
  text-align: left;
  padding-top: 50px;
  
}


.divspotlight2{
  width: 85%;
  height: 350px;
  /* border: 2px solid rgb(17, 16, 16); */
  margin-left: 100px;
  display: flex;
  justify-content: space-between;
}
.spotlightCard1{
  width: 24%;
  height: 350px;
  /* border: 2px solid rgb(17, 16, 16); */
}
.shoescard1{
  width: 100%;
  height: 280px;
  /* border: 2px solid rgb(17, 16, 16); */
  background-image: url("https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_300,h_300/global/399844/01/sv01/fnd/IND/fmt/png/PUMA-Court-Shatter-Low-Men's-Sneakers");
  background-size: cover;
}

.redcard2{
  width: 15%;
  height: 15px;
  /* border: 2px solid rgb(17, 16, 16); */
  font-size: 11px;
  color: white;
  background-color: #ac1e1e ;

}
.spotlightCard2{
  width: 24%;
  height: 350px;
  /* border: 2px solid rgb(17, 16, 16); */
}
.shoescard2{
  width: 100%;
  height: 280px;
  /* border: 2px solid rgb(17, 16, 16); */
  background-image: url("https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_300,h_300/global/387672/33/sv01/fnd/IND/fmt/png/Rider-Future-Vintage-Unisex-Sneakers");
  background-size: cover;
}
.spotlightCard3{
  width: 24%;
  height: 350px;
  /* border: 2px solid rgb(17, 16, 16); */
}
.shoescard3{
  width: 100%;
  height: 280px;
  /* border: 2px solid rgb(17, 16, 16); */
  background-image: url("https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_300,h_300/global/107353/01/sv01/fnd/IND/fmt/png/Cricket-Square-Men's-Shoes");
  background-size: cover;
}
.spotlightCard4{
  width: 24%;
  height: 350px;
  /* border: 2px solid rgb(17, 16, 16); */
}
.shoescard4{
  width: 100%;
  height: 280px;
  /* border: 2px solid rgb(17, 16, 16); */
  background-image: url("https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_300,h_300/global/192259/02/sv01/fnd/IND/fmt/png/Hybrid-NX-Men's-Running-Shoes");
  background-size: cover;
}

.cardprice1 {
  width: 100%;
  height: 80px;
  /* border: 2px solid rgb(17, 16, 16); */
  display: flex;
}

.cardprice2{
  width: 100%;
  height: 80px;
  /* border: 2px solid rgb(17, 16, 16); */
  display: flex;
}
.cardprice3{
  width: 100%;
  height: 80px;
  /* border: 2px solid rgb(17, 16, 16); */
  display: flex;
}
.cardprice4{
  width: 100%;
  height: 80px;
  /* border: 2px solid rgb(17, 16, 16); */
  display: flex;
}

.pricedetail1{
  width: 70%;
  height: 80px;
  /* border: 2px solid rgb(17, 16, 16); */
  font-size: 17px;
}
.price1{
  width: 30%;
  height: 80px;
  /* border: 2px solid rgb(17, 16, 16); */
  color: rgb(179, 23, 23);
  font-size: 12px;  
}

.pricedetail2{
  width: 70%;
  height: 80px;
  /* border: 2px solid rgb(17, 16, 16); */
  font-size: 17px;
}
.price2{
  width: 30%;
  height: 80px;
  /* border: 2px solid rgb(17, 16, 16); */
  color: rgb(179, 23, 23);
  font-size: 12px;  
}

.pricedetail3{
  width: 70%;
  height: 80px;
  /* border: 2px solid rgb(17, 16, 16); */
  font-size: 17px;
}
.price3{
  width: 30%;
  height: 80px;
  /* border: 2px solid rgb(17, 16, 16); */
  color: rgb(179, 23, 23);
  font-size: 12px;  
}


.pricedetail4{
  width: 70%;
  height: 80px;
  /* border: 2px solid rgb(17, 16, 16); */
  font-size: 17px;
}
.price4{
  width: 30%;
  height: 80px;
  /* border: 2px solid rgb(17, 16, 16); */
  color: rgb(179, 23, 23);
  font-size: 12px;  
}

.divatlastic{
  width:100%;
  height: 450px;
  border: 0.1px solid rgb(243, 237, 237);
  border-top: 10px solid white;
  color: white;
  background-image:url("https://cdn.sanity.io/images/qa41whrn/prod/80d92bdf064393dc36761e47b7b28c7e6addb3e5-2880x1000.jpg?w=2160&q=80&auto=format");
  background-size: cover;
  text-align: left;
  margin-top: 10px;
 
}

.seasonatlastic{
  width:35%;
  height: 230px;
  /* border: 2px solid white;  */
  /* margin-left: 850px; */
  margin-top: 150px;
  color: white;
  text-align: center;
 
  
}
.seasonatlastic1{
  width:100%;
  height: 40px;
  /* border: 2px solid white; */
  color: white;
  font-size: 18px;
  margin-top: 8px;
}
.seasonatlastic2{
  width:100%;
  height: 30px;
  /* border: 2px solid white; */
  font-size: 22px;
  margin-top: 8px;
 
}

.seasonatlastic4{
  width:100%;
  height: 50px;
  /* border: 2px solid white; */
  font-size: 12px;
  margin-top: 8px;
  display: flex;
  color: white;
  justify-content: space-between;
 margin-left:160px ;
 
  

}

.seasonatlastic4 p:nth-child(1){ 
  width:25%;
  height: 22px;
  /* border: 2px solid rgb(17, 16, 16); */
  background-color:white;
  padding-top: 14px;
  color: black;
  /* padding-left: 10px; */
  font-weight: bolder
  
}

.secondlastdiv{
  width:100%;
  height: 100px;
  /* border: 2px soid black; */
  /* border: 0.1px solid rgb(243, 237, 237); */
}

.secondlastdiv > h2{
  width: 100%;
  height: 30px;
  /* border: 2px soid rgb(226, 12, 12); */
  padding-top: 40px;
  font-size: 22px;
  
}
.secondlastdiv > p{
  font-size: 11px;
}

.lastdiv{
  width:100%;
  height: 450px;
  /* border: 0.1px solid rgb(243, 237, 237); */
  background-image: url(./images/last.jpeg);
  background-size: cover;

}
.divsfam{
  width:85%;
  height: 315px;
  /* border: 2px solid rgb(17, 16, 16);  */
  margin-top: 20px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.famimg{
  width:16%;
  height: 150px;
  /* border: 2px solid rgb(17, 16, 16);  */
  background-image: url(https://static.pxlecdn.com/photos/668638252/medium/03b08804a1968d3f672c.jpg);
  background-size: cover;
}

.famimg1{
  width:16%;
  height: 150px;
  /* border: 2px solid rgb(17, 16, 16);  */
  background-image: url(https://static.pxlecdn.com/photos/667108817/medium/329b97d0f0a09aad9010.jpg);
  background-size: cover;
}

.famimg2{
  width:16%;
  height: 150px;
  /* border: 2px solid rgb(17, 16, 16);  */
  background-image: url(https://static.pxlecdn.com/photos/663777526/medium/c11b47e161044c46b89f.jpg);
  background-size: cover;
}

.famimg3{
  width:16%;
  height: 150px;
  /* border: 2px solid rgb(17, 16, 16);  */
  background-image: url(https://static.pxlecdn.com/photos/663078577/medium/1afd1a7c3abd30fe001b.jpg);
  background-size: cover;
}

.famimg4{
  width:16%;
  height: 150px;
  /* border: 2px solid rgb(17, 16, 16);  */
  background-image: url(https://static.pxlecdn.com/photos/654777570/medium/d5fbd36450d9c940d84f.jpg);
  background-size: cover;
}

.famimg5{
  width:16%;
  height: 150px;
  /* border: 2px solid rgb(17, 16, 16);  */
  background-image: url(https://static.pxlecdn.com/photos/654954775/medium/85e465ce130b1bd397f9.jpg);
  background-size: cover;
}

.famimg6{
  width:16%;
  height: 150px;
  /* border: 2px solid rgb(17, 16, 16);  */
  background-image: url(https://static.pxlecdn.com/photos/669825078/medium/964c2d3cdee56ff21537.jpg);
  background-size: cover;
}

.famimg7{
  width:16%;
  height: 150px;
  /* border: 2px solid rgb(17, 16, 16);  */
  background-image: url(https://static.pxlecdn.com/photos/665302409/medium/369b67fc1e184237c85f.jpg);
  background-size: cover;
}

.famimg8{
  width:16%;
  height: 150px;
  /* border: 2px solid rgb(17, 16, 16);  */
  background-image: url(https://static.pxlecdn.com/photos/656504712/thumbnail/bde4417b453ab14094e3.jpg);
  background-size: cover;
}

.famimg9{
  width:16%;
  height: 150px;
  /* border: 2px solid rgb(17, 16, 16);  */
  background-image: url(https://static.pxlecdn.com/photos/660932218/medium/48808eb8cce6c2d6f48f.jpg);
  background-size: cover;
}


.famimg10{
  width:16%;
  height: 150px;
  /* border: 2px solid rgb(17, 16, 16);  */
  background-image: url(https://static.pxlecdn.com/photos/660290401/medium/619dbda1c7a77a928eaf.jpg);
  background-size: cover;
}

.famimg11{
  width:16%;
  height: 150px;
  /* border: 2px solid rgb(17, 16, 16);  */
  background-image: url(https://static.pxlecdn.com/photos/660469655/medium/df98163262c6375e5e5d.jpg);
  background-size: cover;
}



.divspotlight{
  width:100%;
  height: 450px;
  /* border: 2px solid rgb(17, 16, 16);  */
  margin-top: 20px;
  
}
.divspotlight11{
  width: 85%;
  height: 30px;
  /* border: 2px solid rgb(17, 16, 16);  */
  font-size: 12px;
  margin-left: 100px;
  text-align: left;
  padding-top: 50px;
  
}


.divspotlight12{
  width: 85%;
  height: 350px;
  /* border: 2px solid rgb(17, 16, 16); */
  margin-left: 100px;
  display: flex;
  justify-content: space-between;
}
.spotlightCard11{
  width: 24%;
  height: 350px;
  /* border: 2px solid rgb(17, 16, 16); */
}
.shoescard11{
  width: 100%;
  height: 280px;
  /* border: 2px solid rgb(17, 16, 16); */
  background-image: url("https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_300,h_300/global/399844/01/sv01/fnd/IND/fmt/png/PUMA-Court-Shatter-Low-Men's-Sneakers");
  background-size: cover;
}

.redcard12{
  width: 12%;
  height: 12px;
  /* border: 2px solid rgb(17, 16, 16); */
  font-size: 8px;
  color: white;
  background-color: #ac1e1e ;

}
.spotlightCard12{
  width: 24%;
  height: 350px;
  /* border: 2px solid rgb(17, 16, 16); */
}
.shoescard12{
  width: 100%;
  height: 280px;
  /* border: 2px solid rgb(17, 16, 16); */
  background-image: url("https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_300,h_300/global/387672/33/sv01/fnd/IND/fmt/png/Rider-Future-Vintage-Unisex-Sneakers");
  background-size: cover;
}
.spotlightCard13{
  width: 24%;
  height: 350px;
  /* border: 2px solid rgb(17, 16, 16); */
}
.shoescard13{
  width: 100%;
  height: 280px;
  /* border: 2px solid rgb(17, 16, 16); */
  background-image: url("https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_300,h_300/global/106789/05/sv01/fnd/IND/fmt/png/PUMA-22-FH-Rubber-Unisex-Cricket-Shoes");
  background-size: cover;
}
.spotlightCard14{
  width: 24%;
  height: 350px;
  /* border: 2px solid rgb(17, 16, 16); */
}
.shoescard14{
  width: 100%;
  height: 280px;
  /* border: 2px solid rgb(17, 16, 16); */
  background-image: url("https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_300,h_300/global/106713/03/sv01/fnd/IND/fmt/png/PUMA-x-one8-22-FH-Rubber-Unisex-Cricket-Shoes");
  background-size: cover;
}

.cardprice11 {
  width: 100%;
  height: 80px;
  /* border: 2px solid rgb(17, 16, 16); */
  display: flex;
}

.cardprice12{
  width: 100%;
  height: 80px;
  /* border: 2px solid rgb(17, 16, 16); */
  display: flex;
}
.cardprice13{
  width: 100%;
  height: 80px;
  /* border: 2px solid rgb(17, 16, 16); */
  display: flex;
}
.cardprice14{
  width: 100%;
  height: 80px;
  /* border: 2px solid rgb(17, 16, 16); */
  display: flex;
}

.pricedetail11{
  width: 70%;
  height: 80px;
  /* border: 2px solid rgb(17, 16, 16); */
  font-size: 17px;
}
.price11{
  width: 30%;
  height: 80px;
  /* border: 2px solid rgb(17, 16, 16); */
  color: rgb(179, 23, 23);
  font-size: 10px;  
}

.pricedetail12{
  width: 70%;
  height: 80px;
  /* border: 2px solid rgb(17, 16, 16); */
  font-size: 17px;
}
.price12{
  width: 30%;
  height: 80px;
  /* border: 2px solid rgb(17, 16, 16); */
  color: rgb(179, 23, 23);
  font-size: 10px;  
}

.pricedetail13{
  width: 70%;
  height: 80px;
  /* border: 2px solid rgb(17, 16, 16); */
  font-size: 17px;
}
.price13{
  width: 30%;
  height: 80px;
  /* border: 2px solid rgb(17, 16, 16); */
  color: rgb(179, 23, 23);
  font-size: 10px;  
}


.pricedetail14{
  width: 70%;
  height: 80px;
  /* border: 2px solid rgb(17, 16, 16); */
  font-size: 17px;
}
.price14{
  width: 30%;
  height: 80px;
  /* border: 2px solid rgb(17, 16, 16); */
  color: rgb(179, 23, 23);
  font-size: 10px;  
}
