*{
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto Condensed", sans-serif;
}
.miandiv{
   width: 100%;
   height: 15000px;
    /* border: 2px solid black; */

}
.extra{
    /* border: 2px solid red; */
    text-align: center;
    height: 50px;
    background-color: #8a7350;
    color: white;
    font-family: "Bebas Neue", sans-serif;
font-weight: 600;
font-style: normal;
font-size: 12px;

display: flex;
align-items: center;
font-family: "Roboto Condensed", sans-serif;
}

.nav{
width: 100%;
height: 70px;
/* border: 2px solid red; */
display: flex;
background-color: black;
color: white;
font-family: "Roboto Condensed", sans-serif;
}

.nav1{
width: 12%;
  /* border: 2px solid rgb(19, 2, 2); */
display: flex;
font-family: "Roboto Condensed", sans-serif;
}
.nav1 >img{
  height:60px;
}


.nav2{
    width: 60%;
    border: 2px solid rgb(14, 13, 13);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    margin-right: 50px;
    font-family: "Roboto Condensed", sans-serif;
    
    }
.nav2 > a:nth-child(1){
  width: 5%;
  /* border: 2px solid white; */
  margin-right: 25px;
}
.nav2 > a:nth-child(2){
  width: 9%;
  /* border: 2px solid white; */
  margin-right: 25px;
}
.nav2 > a:nth-child(3){
  width: 15%;
  /* border: 2px solid white; */
  margin-right: 30px;
}
.nav2 > a:nth-child(4){
  width: 15%;
  /* border: 2px solid white; */
  margin-right: 20px;
}
.nav2 > a:nth-child(8){
  width: 15%;
  /* border: 2px solid white; */
  margin-right: 30px;
}
.nav2 > a:nth-child(9){
  width: 15%;
  /* border: 2px solid white; */
  margin-right: 30px;
}


.nav3{
width: 12%;
height: 45px;
background-color: black;
  border: 2px solid rgb(82, 81, 81);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 30px;
  margin-top: 10px;

  
  

}

.nav4{
width: 12%;
  border: 2px solid rgb(20, 19, 19);
  display: flex ;
  align-items: center;
  justify-content:space-between;
  padding-left: 20px;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
}

.input{
border: none;
outline: none;
color: white;
width: 100px; 
background-color: black;
font-size: 18px;


}
.lastbody{
width: 100%;
height: 90px;
color: white;
/* border: 2px solid black; */
background-color:#a42d29;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
padding-top: 10px;

}

.lastbody >h1{
    font-size: 15px;
    padding-top: 8px;
    /* border: 2px solid black; */
}
.lastbody >P:nth-child(2){
    font-size: 12px;
    padding-top: 5px;
    width: 5%;
    height: 12px;
    /* border: 2px solid black; */
    border-bottom: 1px solid white;
}

.lastbody >P:nth-child(3){
    font-size: 9px;
    padding-top: 7px;

    /* border: 2px solid black; */
   
}

.account{
    width: 100%;
    height: 80px;
    /* border: 2px solid black;  */
   
}
.account > h1{
    width: 20%;
    height: 40px;
    font-size: 35px;
    /* border: 2px solid black; */
    margin-top: 20px;
    margin-left: 150px; 
}




#signup{
    width: 32%;
    height: 350px;
    /* border: 2px solid black; */
    /* border-radius: 12px; */
    margin-left: 450px;
}

.registration{
    width: 100%;
    height: 350px;
    /* border: 2px solid red; */
    border-bottom: 1px solid rgb(200,200,200);
    /* border-radius: 12px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration1{
    width: 90%;
    height: 8%;
    /* border: 2px solid black; */
    border-bottom: 1px solid rgb(12, 12, 12);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 10px; */
    padding-bottom: 10px;
}

.registration1 p:nth-child(1){
    padding-top: 10px;
    font-size: 12px;
    font-weight: 550;  
    /* border: 2px solid red; */
}
.inputfirst> h6{
    font-size: 10px;
    font-weight: 550;  
    padding-right: 290px;
    padding-top: 10px;
    /* border: 2px solid red; */
}

.inputfirst{
    width: 90%;
    /* border: 2px solid rgb(228, 34, 34); */
    /* border-radius: 12px; */
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    /* border: 2px solid red; */
}





#typeemail{
    width: 90%;
    height: 45px;
    /* border: 2px solid red; */
}


.submitbutton{
    width: 92%;
    height: 35px;
    background-color:#bdc1c5;
    text-align: center;
    color: rgb(68, 67, 67);
    font-weight: 550;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-top: 20px;
  
}

.submitbutton >h6{
    font-size: 12px;
    font-weight: 100;
}

.endtext{
    font-size: 12px;
    width: 90%;
    height: 25px;
    padding-top: 20px;
    /* border: 2px solid black; */
}
.endtext1{
    font-size: 10px;
    width: 49%;
    height: 15px;
    padding-top: 20px;
    /* border: 2px solid black; */
    border-bottom: 2px solid grey;
}
.endtext2{
    font-size: 10px;
    width: 49%;
    height: 15px;
    padding-top: 20px;
    /* border: 2px solid black; */
    margin-left: 10px;
    border-bottom: 2px solid grey;
}

.endtext3{
    width: 90%;
    height: 50px;
    /* border: 2px solid black; */
    display: flex;

}

.lastdiv{
    width:100%;
    height: 450px;
    border: 0.1px solid rgb(243, 237, 237);
    background-image: url("./images/last.jpeg");
    background-size: cover;

    margin-bottom: 55px;
  }
  